@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-items: center;


}
/*----------------------------SIGNIN PAGE---------------------------------------------*/
body {
    display: flex;
}

/*The style of the container*/
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background_home.jpg");
    column-gap: 30px;
}



/*The style of the header*/
header {
    font-size: 40px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    margin-bottom: 15px;

}

/*The style of the login*/
.login {
    position: absolute;
    background: #FFF;
    max-width: 430px;
    width: 50%;
    height: 60%;
    padding: 60px;
    border-radius: 10px;




}

/*The style of the username, password,forgot password,*/
.username,.input-box {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

}

.password {
    text-align: center;
}

.forgot-pass,
.remember-forgot {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;

}

/*The style of form button*/
.button_form {


    margin-top: 20px;
    text-align: center;
    height: 50px;


}

.button_form button {

    width: 55%;
    height: 50%;
    border-radius: 5px;
    background-color: #0171d3;
    border: none;
    color: white;
    cursor: pointer;
}

/*The style of he text into input*/
input {
    text-align: center;

}

/*The style of the sign up*/
.signup {
    font-size: 10px;
    text-align: center;
}

.password {
    position: relative;
}

/*The style of the icone near the password*/
.password i {
    position: absolute;
    left: 50px;
    top: 30%;
    transform: translate(-50%);
    font-size: 15px;

}

/*The style of the icone near the username*/
.username i {
    position: absolute;
    left: 50px;
    top: 30%;
    transform: translate(-50%);
    font-size: 15px;


}
/*-----------------------------END OF SIGNIN PAGE---------------------------*/

  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    /* Ensure the iframe is on top of other content */
    width: 100%;
    height: 60px;
    background-size: cover;
    background-position: center;
  }
  
  header iframe {
    width: 100%;
    height: 60px;
    border: none;
  }
  
  body {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #ecedc9;
    background-size: cover;
    background-position: center;
  }
  
  .wrapper {
    width: 45%;
    background: transparent;
    border: 2px solid rgba(29, 74, 39, .2);
    backdrop-filter: blur(9px);
    color: rgb(29, 74, 39);
    background-color: rgba(29, 74, 39, .2);
    border-radius: 12px;
    margin-top: 30px;
    padding: 30px 40px;
  }
  
  .container h1 {
    font-size: 36px;
    text-align: center;
  }
  .mssg {
   
    position:absolute;
    top: 100%;
    left:0;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    
    

  }
  /*
  .container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 10px 0 0;
    
  }
  
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(29, 74, 39);
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: rgb(29, 74, 39);
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  
  .mssg {
    font-size: 12px;
    margin: 10px;
  }
  
  .container .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
  }
  
  .remember-forgot label input {
    accent-color: rgb(29, 74, 39);
    margin-right: 3px;
  
  }
  
  .remember-forgot a {
    color: rgb(29, 74, 39);
    text-decoration: none;
  
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .container .btn {
    width: 100%;
    height: 45px;
    background: #ecedc9;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(29, 74, 39);
    font-weight: 600;
  }
  */
  .container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  
  .register-link p a {
    color: rgb(29, 74, 39);
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }

  /*--------------------------TEMPLATE-------------------------*/
  .table{
    
    
  }